.button {
    border: 0px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    border-radius: 4px;

    &.primary {
        padding: 10px 32px;
        min-width: 200px;

        color: var(--primari-white-color);
        background-color: var(--accent-color);
        box-shadow: var(--button-primary-shadow);

        @include font($fw: 700, $lh: 30px);
        letter-spacing: 0.06em;

        transition: background-color 250ms var(--time-function);

        &:hover,
        &:focus {
            background-color: var(--button-primary-color-hover);
        }
    }

    &.secondary {
        padding: 6px 22px;
        
        color: var(--title-text-color);
        background-color: var(--button-color);

        @include font($fw: 500, $lh: 26px);
        letter-spacing: 0.03em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms var(--time-function);
       
        &:hover,
        &:focus {
            color: var(--primari-white-color);
            background-color: var(--accent-color);
            box-shadow: var(--button-shadow-secondary);
        }

        &.active {
            color: var(--primari-white-color);
            background-color: var(--accent-color);
            box-shadow: var(--button-shadow-secondary);
        }
    }

    &.icon {
        position: relative;
        padding: 10px 62px 10px 28px;
        margin-left: 12px;
    }
}

.button_icon-send {
    position: absolute;
    right: 28px;
    bottom: 13px;
}

.form_button {
    padding: 10px 52px;
    width: 200px;
}

/* .button.icon::after {
    position: absolute;
    right: 28px;
    bottom: 13px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;

    background-image: url(../images/bg/icon\ send.svg);
} */

