.logo {
    font-family: Raleway, sans-serif;
    @include font($fw: 700, $fs: 26px, $lh: 31px);
}

.logo_part {
    color: var(--accent-color);
}

.header_logo {
    color: #000000;
    
}

.footer_logo {
    display: block;
    margin-bottom: 20px;

    color: var(--primari-white-color);
}