html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--primari-white-color);
    /* #000000;*/
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}